body {
    background-image: url('background2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

body {
    padding-bottom: 20px;
}

.cover-container {
    max-width: 180em;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    /* margin-bottom: 30px; */
}

#mapid {
    z-index: -1;
    width: 750px;
    height: 500px;
}

.container {
    max-width: 1550px;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

h1 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: -20px;
}

h3 {
    text-align: justify;
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 25px;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 50px;
}


/* .grid-container>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
} */